@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mxns;
@use "../abstracts/colorPalette" as colPal;

// -----------------------------------------------------------------------------
/* This file contains root styles. */
// -----------------------------------------------------------------------------

:root {
  @each $type, $colors in colPal.$brandColors {
    @each $color, $value in $colors {
      --clr-#{$color}: #{$value};
    }
  }

  // Spacing
  --spacing: 20px;
  @include mxns.mediamin(sm) {
    --spacing: 30px;
  }
  @include mxns.mediamin(md) {
    --spacing: 35px;
  }
  @include mxns.mediamin(lg) {
    --spacing: 40px;
  }
  @include mxns.mediamin(xl) {
    --spacing: 50px;
  }
  @include mxns.mediamin(xxl) {
    --spacing: 60px;
  }

  // Border Radius
  --borderRadius: 0.25rem;
}
